:root {
    --s: 1px;
}

body {
    background: #8ce58c;
    text-align: center;
}

#topbar {
    margin: 0;
    text-align: center;
    align-content: center;
    width: 100%;
    min-height: calc(250 * var(--s));
    background-color: white;
    margin-bottom: calc(100 * var(--s));
    padding: 0;
}
#topbar .ultratitle {
    margin-bottom: calc(15 * var(--s));
    margin-top: calc(25 * var(--s));
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(32 * var(--s));
    row-gap: calc(16 * var(--s));

    margin-bottom: calc(16 * var(--s))
}
/*#buttons form {
    margin-right: var(--spacing-4);
}
#buttons form:last-child {
    margin-right: 0;
    margin-left: 50px;
}*/

.container {
    background-color: white;
    box-shadow: var(--shadow-elevated);
    border-radius: var(--radii-extra);
    padding: calc(25 * var(--s));
    padding-left: 10%;
    padding-right: 10%;
    font-size: var(--font-3);
    margin-bottom: calc(75 * var(--s));
    vertical-align: top;
}
.container:only-of-type {
    min-height: calc(300 * var(--s));
}

dot {
    position: relative;
    top: calc(250 * var(--s));
    width: calc(10 * var(--s));
    height: calc(10 * var(--s));
    background-color: transparent;
    display: block;
}

.bodyheader {
    text-align: left;
    width: 100%;
    max-width: calc(1200 * var(--s));
    margin: auto;
    margin-bottom: calc(10 * var(--s));
}

.container h2 {
    margin-bottom: calc(15 * var(--s));
}
.container h1 {
    margin-top: calc(50 * var(--s));
    margin-bottom: calc(25 * var(--s));
}


.noselect {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
}


.memberpanel {
    display: flex;
    margin-top: calc(25 * var(--s));
    justify-content: center;
}
.memberpanel > img {
    border-radius: 50%;
    width: calc(250 * var(--s));
    height: calc(250 * var(--s));
    margin-right: calc(25 * var(--s));
}
.memberpanel > p {
    text-align: left;
}
.memberpanel .name {
    font-size: calc(28 * var(--s));
}
.memberpanel .position {
    font-style: italic;
}
.memberpanel a {
    margin-top: calc(50 * var(--s));
}

@media (max-width: 1024px) {
    :root {
        --s: 0.2vmin;
    }
}