:root {
    --scale-unit: 1vmin;
}
@media screen and (min-height: 20cm) {
    :root {
        --scale-unit: .2cm;
    }
}




body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #e4f3ff, #b9eaf7);
    height: 100vh;
}

main {
    top: calc(5*var(--scale-unit));
    left: 50%;
    position: absolute;
    width: calc(90*var(--scale-unit));
    height: fit-content;
    transform: translateX(-50%);
}
.box {
    background-color: white;
    border: calc(0.1*var(--scale-unit)) #7e7e7e solid;
    border-radius: calc(0.8*var(--scale-unit));
    box-shadow: 0 calc(0.4*var(--scale-unit)) calc(0.9*var(--scale-unit)) #00000079;
}
#mainbox {
    height: fit-content;
    min-height: calc(90*var(--scale-unit));
    z-index: 100;
}

.box h1 {
    margin-top: calc(6*var(--scale-unit));
    font-size: calc(4*var(--scale-unit));
    margin-left: calc(4*var(--scale-unit));
}

#hl_logo {
    margin-top: calc(6*var(--scale-unit));
    width: calc(25*var(--scale-unit));
    height: calc(25*var(--scale-unit));
}

#sidebar {
    position: absolute;
    right: calc(50% + 46*var(--scale-unit));
    font-size: calc(2.5*var(--scale-unit));
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(25*var(--scale-unit));
}
#sidebar ul li {
    text-align: right;
    margin-bottom: calc(1*var(--scale-unit));
    height: calc(4*var(--scale-unit));
}
#sidebar .box {
    height: 100%;
    width: 100%;
    padding-right: calc(1*var(--scale-unit));
    padding-left: calc(1*var(--scale-unit));
    align-content: center;
    box-sizing: border-box;
}

#mainbox p {
    margin-left: calc(4*var(--scale-unit));
}