body {
    background: #adebbf;
    text-align: center;
}

#topbar {
    margin: 0;
    text-align: center;
    align-content: center;
    width: 100%;
    min-height: 250px;
    background-color: white;
    margin-bottom: 100px;
}
#topbar .ultratitle {
    margin-bottom: 15px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons form {
    margin-right: var(--spacing-4);
}
#buttons form:last-child {
    margin-right: 0;
    margin-left: 50px;
}

.container {
    background-color: white;
    box-shadow: var(--shadow-elevated);
    border-radius: var(--radii-extra);
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: var(--font-3);
    margin-bottom: 75px;
    vertical-align: top;
}
.container:only-of-type {
    min-height: 300px;
}

dot {
    position: relative;
    top: 250px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    display: block;
}

.bodyheader {
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;
}

.container h2 {
    margin-bottom: 15px;
}


.noselect {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
}